<main class="main">
  <section class="search-wrapper">
    <div class="input-wrapper">
      <input
        class="input-field"
        placeholder="Enter city name..."
        (click)="showCitites = true"
        (blur)="hideCititesList()"
        [(ngModel)]="searchInput"
        (ngModelChange)="onSearchChange()"
      />
      <div *ngIf="showCitites" class="cities">
        <div
          *ngFor="let city of citiesList"
          class="city"
          (click)="onCityClick(city)"
        >
          {{ city.name + ", " + city.country }}
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="currentCity" class="current-city-weather">
    <div *ngIf="currentCityWeather" class="current-weather">
      <h1>
        {{ currentCity.name + ", " + currentCity.country }}
        <button (click)="addToFavourites(currentCity, currentCityWeather)">
          Add Favourite
        </button>
      </h1>
      <img src="{{ currentIconImgPath }}" />
      <p>{{ currentDate }}</p>
      <h2>{{ currentCityWeather.current_weather.temperature + " °C" }}</h2>
      <p>
        {{
          weatherInterpretationCodes[
            currentCityWeather.current_weather.weathercode
          ]
        }}
      </p>
    </div>
  </section>

  <!-- <div class="chart" >
    <canvas
      baseChart
      [datasets]="labelMFL"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    ></canvas>
  </div> -->

  <section class="week-forecast">
    <div class="day-forecast" *ngFor="let day of weekForecastArray">
      <p class="day-name">
        {{ day.dayName }}
        <img class="icon" src="{{ formatIcon(day.weathercodeDay) }}" />
      </p>
      <p>Min: {{ day.tempMin }}°C</p>
      <p>Max: {{ day.tempMax }}°C</p>
      <p>
        <img
          class="icon-forecast"
          src="../assets/drop.png"
          alt="minimum-temp"
        />
        Precipitation: {{ day.precip }} %
      </p>
    </div>
  </section>

  <section class="favourites">
    <h3
      [ngStyle]="{
        visibility: this.favouriteCities.length > 0 ? 'visible' : 'hidden'
      }"
    >
      Favourite cities
    </h3>
    <div
      class="new-favourite-wrapper"
      *ngFor="let fav of favouriteCities"
      (click)="onCityClick(fav)"
    >
      <div class="new-favourite">
        <p>{{ fav.name }},</p>
        <p>{{ fav.country }}</p>
        <img id="icon-fav" src="{{ formatIcon(fav.weathercode) }}" />
        <p>{{ fav.temp }}°C</p>
        <p>{{ weatherInterpretationCodes[fav.weathercode] }}</p>
      </div>

      <button (click)="removeFavourite(fav)">Remove</button>
    </div>
  </section>
</main>
