:root {
  --light-color: #c4c4e3;
  --dark-color: #243748;
}

.main {
  background-image: url("../assets/bg-final.jpg");
  background-size: cover;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;

  .search-wrapper {
    padding: 1em 0;
    width: 80%;
    align-content: center;
    align-items: center;
    margin-bottom: 2em;

    .input-wrapper {
      position: relative;

      #search-error {
        position: absolute;
        margin-top: 1em;
        left: 0;
        right: 0;
        color: #ff4162;
      }

      .input-field {
        border: none;
        padding: 15px 20px;
        width: 100%;

        border-radius: 8px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
      }
      .input-field:focus {
        box-shadow: 0px 0px 2px 2px #c4c4e3;
        outline: none;
      }
      ::placeholder {
        text-align: center;
      }

      // dropdown
      .cities {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 2px;
        background-color: #fff;
        color: #243748;
        border-radius: 8px;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        z-index: 10;

        .city {
          padding: 10px 0;

          &:hover {
            width: auto;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            border-radius: 8px;
          }
        }
      }
    }
  }

  .current-city-weather {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 80%;
    user-select: none;
    margin-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

    .current-weather {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 1fr;
      grid-template-areas: "a c" "a b" "i d";
      gap: 10px;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 720px) {
        grid-template-areas: "a" "i" "b" "c" "d";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
      img {
        width: 4rem;
        grid-area: i;
        margin: auto;
      }

      h1 {
        font-size: 1.5rem;
        padding: 0.5em;
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          color: white;
          padding: 8px;
          border: 1px solid white;
          margin: 10px;
          border-radius: 8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          background-color: #eec0c6;
          background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

          &:hover {
            background-color: #9fa4c4;
            background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
            cursor: pointer;
          }
        }
      }
      h2 {
        font-size: 4rem;

        grid-area: a;
      }
      p:first-of-type {
        font-size: 1em;
        grid-area: c;
        padding: 4px;
      }
      p:last-of-type {
        font-size: 1em;
        grid-area: d;
        padding: 4px;
      }
    }
  }

  .week-forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 80%;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

    .day-forecast {
      padding: 1rem 1.5rem;

      .icon-forecast {
        width: 15px;
      }
      p {
        padding: 2px;
      }

      .day-name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;

        .icon {
          width: 2rem;
          padding: 0 4px;
        }
      }
    }
  }

  .favourites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    width: 80%;
    user-select: none;
    margin-top: 1em;

    margin-bottom: 40px;

    h3 {
      margin: auto;
      padding: 0.5rem;
      width: 100%;
      margin-bottom: 0.5rem;
    }
    .new-favourite-wrapper {
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-top: 7px;
      border-radius: 8px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
      }

      .new-favourite {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        p {
          padding: 0.5rem;

          #icon-fav {
            width: 2rem;
            padding: 0;
          }
        }
        #icon-fav {
          width: 2rem;
          padding: 0;
        }
      }

      button {
        color: white;
        max-height: 40px;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        background-color: #eec0c6;
        background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

        &:hover {
          cursor: pointer;
          background-color: #9fa4c4;
          background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
      }
    }
  }
}
