<main class="main">
  <section class="search-wrapper">
    <div class="input-wrapper">
      <input
        class="input-field"
        placeholder="Enter city name..."
        (click)="showCitites = true"
        (blur)="hideCititesList()"
        [(ngModel)]="searchInput"
        (ngModelChange)="onSearchChange()"
      />
      <div *ngIf="showCitites" class="cities">
        <div
          *ngFor="let city of citiesList"
          class="city"
          (click)="onCityClick(city)"
        >
          {{ city.name }}
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="currentCity" class="current-city-weather">
    <div *ngIf="currentCityWeather">
      <h3>{{ currentCityWeather.current_weather.temperature }}</h3>
      <p>{{ currentCityWeather.current_weather.time }}</p>
      <h1>{{ currentCity.name }}</h1>
      <p>{{ currentCityWeather.daily_units.precipitation_probability_max }}</p>
    </div>
  </section>
</main>

<!--         

          input field

            City name
            Temperature - current
            Precipitation 


        
          Recent search --- favourites


          7 day forecast (tabs)

-->
